* {
    box-sizing: border-box;
}

body {
    background-image: url("../../assets/signup.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.logo {
    position: absolute;
    font-size: 70px;
    left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 255, 70);;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.558);
    word-spacing: 10px;
    padding: 30px;
}


.welcome {
    color: rgb(73, 255, 70);
}


.container {
    position: absolute;
    top: 15%;
    left: 25%;
    background-color: white;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 30px 100px 50px 100px;
    box-shadow: 0 10px 10px rgb(174, 174, 174)
}

.input-line {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info {
    border: none;
    border-bottom: 1px solid black;
    width: 350px;
    padding: 20px;
}

input:focus {
    outline: none;
    border-color: rgb(73, 255, 70);
}
.label{
    opacity: 0;
    transition: opacity 0.5s ease

}
label.active{
    opacity: 1;
    color: rgb(73, 255, 70);;

}
button {
    border: none;
    padding: 15px;
    background-color: rgb(73, 255, 70);
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.check {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    width: 87%;
}

.checkboxes {
    gap: 15px;
}


.bottom-container {
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-around;
}

@media (max-width:497px) {
    .logo {
        left: 50%;
        top: 2%;
        margin: 0;
        z-index: 1;
    }

    body {
        position: absolute;
        right: 18%;
    }

    .container {
        width: 100%;
        top: 20%;
        left: 20%;

    }

    .checkboxes {
        display: block;
    }

    .welcome {
        display: block;
        margin-top: 10px;
    }
    .one-check {
        display: flex;
       justify-content: space-between;
    }
}